@{
    ViewData["Title"] = "Home Page";

}

<div class="text-center">
    <h1 class="display-4">Welcome to ASP.NET Core Identity Management </h1>
    <div class="alert ">
        <a class="btn btn-info" asp-action="member">Go to Member Area</a>
    </div>

    <div class="alert">
        <a class="btn btn-info" asp-action="admin">Go to Admin Area</a>
    </div>


    @if (User.Identity.IsAuthenticated)
    {
    <div  class="alert alert-info" >
        <a href="/Identity/MFASetup">Setup Two Factor Authentication</a>
    </div>
    }
</div>